.corpo img {
    width: 100%;
    height: auto;
}
.descricao{
    text-align: left;
    font-size: 22px;
    color: #000;
}
.container{
    padding-top: 20px;
}
.artigo{
    padding-top: 15px;
    width: 480px;
}
.texto{
    text-align: center;
}

